qdrant_HOST=
qdrant_PORT=

Api_PORT_GPU0=
Api_PORT_GPU1=
Api_PORT_GPU2=
Api_PORT_GPU3=

nginx_PORT=

php_PORT=

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=

ARCFACE_MODEL_path=
BLAZEFACE_MODEL_path=
YOLO_MODEL_path=
OSNET_MODEL_path=

qdrant_COLLECTION=
VECTOR_size=

