#PROXY

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=

#Qdrant
qdrant_HOST=
qdrant_PORT_http=
qdrant_PORT_grpc=
qdrant_COLLECTION=
VECTOR_size=

#GPU
Api_PORT_GPU0=
Api_PORT_GPU1=
Api_PORT_GPU2=
Api_PORT_GPU3=

#MODELE
ARCFACE_MODEL_path=
BLAZEFACE_MODEL_path=
YOLO_MODEL_path=
OSNET_MODEL_path=

#PHP
php_VERSION=
php_PORT=

#NGINX

nginx_VERSION=
nginx_PORT=